# Ignora archivos del sistema Mac 
.DS_store

# Ignorar los main y los ficheros txt de prueba
main.c
*.txt



# Ignorar los .o y .out
*.o
*.out
*.a
*.gch

#Ignorar el fichero del espacio de trabajo
*.code-workspace